[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
tox = "*"

[packages]
django = "5.1.8"
djangorestframework = "3.15.2"
authlib = "*"
requests = "*"

[requires]
python_version = ">=3.10"
